<div class="row">
  <div class="col">
    <input [readOnly]="disableInputs" id="ltr0" type="text" maxlength="1"  (keydown)="change($event)">
  </div>
  <div class="col">
    <input [readOnly]="disableInputs" id="ltr1" type="text" maxlength="1"  (keydown)="change($event)">
  </div>
  <div class="col">
    <input [readOnly]="disableInputs" id="ltr2" type="text" maxlength="1"  (keydown)="change($event)">
  </div>
  <div class="col">
    <input [readOnly]="disableInputs" id="ltr3" type="text" maxlength="1" (keydown)="change($event)">
  </div>
  <div class="col">
    <input [readOnly]="disableInputs" id="ltr4" type="text" maxlength="1"  (keydown)="change($event)">
  </div>
</div>